{% extends 'base.html.twig' %}

{% block title %}New BookShelf{% endblock %}

{% block body %}
    <h1>Create new BookShelf</h1>

    {{ include('book_shelf/_form.html.twig') }}

    <a href="{{ path('book_shelf_index') }}">back to list</a>
{% endblock %}
